%form#livesearch_form
  %input#live_search{ :name => query_address, :size => "30", :type => "text" }
  %script{ :type => 'text/javascript'}
    = "var ajax_search_url='#{ajax_query_address}';"

  :javascript
    $('#live_search').liveSearch({ajaxURL: ajax_search_url});